// flex布局复用
@mixin flex($row: space-between, $col: center, $display: flex) {
  display: $display;
  justify-content: $row;
  align-items: $col;
}
// display: inline-block width height
@mixin dwh($width, $height, $display: inline-block) {
  display: $display;
  width: $width;
  height: $height;
}
// background
@mixin bgImg($img, $bgSize: contain) {
  background: url($img) no-repeat center;
  background-size: $bgSize; //填充、填满
}
