<template>
  <div>
    <nav-header></nav-header>
    <picture-slide></picture-slide>
  </div>
</template>

<script>
import NavHeader from "@/components/home/NavHeader";
import PictureSlide from "@/components/home/PictureSlide";
export default {
  name: "Index",
  components: {NavHeader, PictureSlide},
  data(){
    return{
    }
  }
}
</script>

<style scoped>

</style>