<template>
  <div class="site-header">
    <div class="container">
      <div class="header-logo">
        <a href="/index"></a>
      </div>
      <div class="header-nav">
        <ul class="nav-list">
          <li class="nav-item" v-for="(item,index) in headerNavs" :key="index">
            <a href="javascript:;" class="link"><span>{{item.name}}</span></a>
          </li>
        </ul>
      </div>
      <div class="header-search">
        <div class="wrapper">
          <input type="text" name="keyword" class="search-text" @focus="handleSearchFocus" @blur="handleSearchBlur">
          <div class="keyword-list" :class="{'hide': !searchFocus }">
            <ul class="search-list">
              <li v-for="(item,index) in searchList" :key="index">{{item}}</li>
            </ul>
          </div>
          <div class="search-icon">
            <a href="javascript:;"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "NavHeader",
  data(){
    return {
      searchFocus: false,
      headerNavs:[
        {
          name: '小米手机',
          children: []
        },
        {
          name: 'RedMi 红米',
          children: []
        },
        {
          name: '电视',
          children: []
        },
        {
          name: '笔记本',
          children: []
        },
        {
          name: '家电',
          children: []
        },
        {
          name: '路由器',
          children: []
        },
        {
          name: '智能硬件',
          children: []
        },
        {
          name: '服务',
          children: []
        },
        {
          name: '社区',
          children: []
        },
      ],
      searchList:["小米11","小米手机", "空调", "红米", "洗衣机", "耳机"],
    }
  },
  methods:{
    handleSearchFocus(){
      this.searchFocus = true;
    },
    handleSearchBlur(){
      this.searchFocus = false;
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../../assets/scss/mixin.scss';
.site-header{
  .container{
    height: 100px;
    line-height: 100px;
    @include flex();
    .header-logo{
      @include dwh(55px, 55px);
      background-color: #FF6600;
      a{
        @include dwh(110px, 55px);
        &::before{
          content: '';
          @include dwh(55px, 55px);
          @include bgImg('/imgs/mi-logo.png', 55px);
          transition: margin .2s;
        }
        &::after{
          content: '';
          @include dwh(55px, 55px);
          @include bgImg('/imgs/mi-home.png', 55px);
        }
        &:hover::before{
          margin-left: -55px;
          transition: margin .2s;
        }
      }
    }
    .header-nav{
      display: inline-block;
      .nav-list{
        height: 88px;
        font-size: 16px;
        .nav-item{
          float: left;
          .link{
            display: inline-block;
            padding: 0 10px;
            color: #333;
            transition: color .2s;
          }
        }
      }
    }

    .header-search {
      height: 48px;
      line-height: 48px;
      .wrapper {
        position: relative;
        .search-text {
          width: 223px;
          height: 48px;
          padding: 0 10px;
          font-size: 14px;
          border: 1px solid #e0e0e0;
          transition: all .2s;
          &:focus{
            border-color: #FF6600;
          }
        }

        .keyword-list {
          line-height: 30px;
          position: absolute;
          left: 0;
          top: 50px;
          border: 1px solid #ff6700;
          border-top: 0;
          background: #fff;
          width: 243px;
          .search-list {
            display: block;
            font-size: 12px;
            color: #424242;
            li{
              padding: 0 15px;
            }
            li:hover {

              background: #fafafa;
            }
          }
        }
        .search-icon {
          @include dwh(48px, 48px, block);
          border: 1px solid #e0e0e0;
          border-left: 0;
          @include flex(center,center,inline-flex);
          text-align: center;
          a {
            @include dwh(18px, 18px);
            transition: all .2s;
            @include bgImg('/imgs/icon-search.png');
          }
        }
        .search-text, .search-icon{
          vertical-align: bottom;
        }
      }
    }
  }
}
</style>