<template>
  <div class="home-hero-container container">
    <swiper v-bind:options="swiperOption">
      <swiper-slide v-for="(item,index) in slideList" v-bind:key="index">
        <a v-bind:href="'/#/product/'+item.id">
          <img v-bind:src="item.img">
        </a>
      </swiper-slide>
      <!-- Optional controls -->
      <div class="swiper-pagination" slot="pagination"></div>
      <div class="swiper-button-prev" slot="button-prev"></div>
      <div class="swiper-button-next" slot="button-next"></div>
    </swiper>
  </div>
</template>

<script>
import {Swiper, SwiperSlide} from 'vue-awesome-swiper'
import 'swiper/css/swiper.css'
export default {
  name: "PictureSlide",
  components: {
    Swiper,
    SwiperSlide
  },
  data() {
    return {
      swiperOption:{
        autoplay:true,
        loop:true,
        effect:'fade',
        cubeEffect: {
          shadowOffset: 100,
          shadowScale: 0.6
        },
        pagination: {
          el: '.swiper-pagination',
          clickable:true
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        }
      },
      slideList: [
        {
          id: '42',
          img: '/imgs/slider/slide-1.jpg'
        },
        {
          id: '45',
          img: '/imgs/slider/slide-2.jpg'
        },
        {
          id: '46',
          img: '/imgs/slider/slide-3.jpg'
        },
        {
          id: '',
          img: '/imgs/slider/slide-4.jpg'
        },
        {
          id: '',
          img: '/imgs/slider/slide-1.jpg'
        }
      ],
    }
  }
}
</script>

<style lang="scss" scoped>
.swiper-container {
  height: 451px;
  .swiper-button-prev{
    //left:274px;
  }
  img{
    width:100%;
    height:100%;
  }
}
</style>