<template>
  <div class="site-topbar">
    <div class="container">
      <ul class="topbar-nav top-menu">
        <a href="javascript:;" v-for="(item, index) in topMenus" :key="index">{{ item }}</a>
      </ul>
      <div class="topbar-cart">
        <a href="javascript:;" class="cart-mini">
          <span class="icon-cart"></span>购物车<span class="cart-mini-num">（{{ cartNum }}）</span>
        </a>
        <div class="cart-menu">
          <div class="menu-content">
            <div class="msg">
              购物车中还没有商品，赶紧选购吧！
            </div>
          </div>
        </div>
      </div>
      <ul class="topbar-nav topbar-info">
        <a href="javascript:;" v-for="(item, index) in topInfos" :key="index">{{ item }}</a>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: "TopBar",
  data() {
    return {
      topMenus: ["小米商城", "MIUI", "IoT", "云服务", "天星数科", "有品", "小爱开放平台", "企业团购", "资质证照", "协议规则", "下载app", "智能生活", "Select Location"],
      topInfos: ["登录","注册","消息通知"],
      cartNum: 0,
    }
  }
}
</script>

<style lang="scss" scoped>
@import "../../assets/scss/mixin";
.site-topbar{
  position: relative;
  height: 40px;
  font-size: 12px;
  color: #b0b0b0;
  background: #333;
  .container{
    &::after, &::before{
      content: '';
      display: table;
    }
    .top-menu{
      float: left;
    }
    .topbar-info, .topbar-cart{
      display: inline-block;
      float: right;
    }

    .topbar-nav {
      height: 40px;
      line-height: 40px;
      a {
        color: #b0b0b0;
        line-height: 40px;
        display: inline-block;
        &:not(:last-child){
          &::after{
            content: '';
            margin: 0 7px;
            border-right: 1px solid #424242;
          }
        }
        &:hover {
          color: #fff;
        }
      }
    }
    .topbar-cart {
      margin-left: 18px;
      background: #424242;
      position: relative;
      &:hover {
        background-color: #fff;
        .cart-mini {
          color: #FF6600;
          .icon-cart {
            @include bgImg("/imgs/icon-cart-hover.png");
          }
        }
        .cart-menu {
          height: 100px;
        }
      }
      .cart-mini {
        margin: 0 12px;
        position: relative;
        width: 120px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        color: #b0b0b0;
        .icon-cart {
          @include dwh(20px, 15px);
          line-height: 20px;
          margin-right: 5px;
          vertical-align: -3px;
          @include bgImg("/imgs/icon-cart.png");
        }
      }
      .cart-menu{
        height: 0;
        position: absolute;
        right: 0;
        top: 40px;
        z-index: 31;
        width: 316px;
        color: #424242;
        background: #fff;
        box-shadow:0 2px 10px rgba(0,0,0,.15);
        transition: height .3s;
        overflow: hidden;
        .menu-content{
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          .msg{
            height: 20px;
          }
        }
      }
    }
  }
}
</style>