<template>
  <div id="app">
    <top-bar></top-bar>
    <router-view></router-view>
  </div>
</template>

<script>
import TopBar from "@/components/common/TopBar";

export default {
  name: 'App',
  components: {
    TopBar
  }
}
</script>

<style lang="scss">
@import "./assets/scss/reset";
body {
  font: 14px/1.5 Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
  color: #333;
  background-color: #fff;
  min-width: 1280px;
}
</style>
